.title_and_location {
    display: flex;
    justify-content: space-between;
}

.job_title {
    font-weight: bold;
}

.skills_and_date {
    display: flex;
    justify-content: space-between;

    font-size: 13.6px;
    color: gray;
}