.tool_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

    position:fixed;
    bottom:24px;
    right: 24px;
    
}

.tool_div img {
    width: 36px;
    height: 36px;
    cursor: pointer;
}