body {
  width: 1024px;
  padding: 82px 44px;
  margin: auto;
  font-size: 15.6px;
  font-family: Fira Sans, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
